{% extends 'base.html' %}
{% block content %}

<div class="col-12 text-center d-flex flex-column justify-content-center align-items-center">

    <h3 class="mb-3"><i class="bi bi-file-earmark-text"></i> Administrar cobras</h3>

    <div class="accordion col-12" id="accordion">
    {% for cobra, imgs in cobras_info.items() %}
        <div class="accordion-item col-12">
            <h5 class="accordion-header" id="heading{{ids[cobra]}}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion{{ids[cobra]}}" aria-expanded="false" aria-controls="accordion{{ids[cobra]}}">
                    {{cobra}}
                </button>
            </h5>
            <div id="accordion{{ids[cobra]}}" class="accordion-collapse collapse" aria-labelledby="heading{{ids[cobra]}}" data-bs-parent="#accordion">
                <div class="accordion-body text-start">

                    <div class="row align-items-center justify-content-center">
                        {% for i in range(0, imgs|length) %}
                            <div class="card mb-4" style="width: 18rem;">
                                <img class="d-block w-100 shadow" src='{{url_for("static", filename="serpentesFotos/{cobra}/{img}".format(cobra=cobra, img=imgs[i]))}}'>
                                <div class="card-body">
                                <h6 class="card-title">{{imgs[i]}}</h5>
                                    <a href="{{url_for('excluir_img', snake=cobra, id=imgs[i])}}"><button class="btn submit-btn shadow-sm"><i class="bi bi-trash mr-2"></i> Excluir</button></a>
                                </div>
                            </div>
                        {% endfor %} 
                    </div>

                    <form class="col-sm-6 col-md-8 col-10 mt-2 align-items-center justify-content-start" action="" method='POST' enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="input-group my-2">
                            <span class="input-group-text shadow-sm"> Espécie: *</span>
                            <input name="snake" type="text" value="{{cobra}}" class="form-control shadow-sm" placeholder="Espécie da cobra" aria-label="espécie" aria-describedby= "espécie" required>
                        </div>
                        <div class="input-group my-2">
                            <span class="input-group-text shadow-sm"> Nomes populares: *</span>
                            <textarea name="nomes_populares" rows="3" class="form-control shadow-sm" aria-label="nomes populares" placeholder="Nomes populares" required> {{nomes_pop[cobra] | join(', ')}} </textarea>
                        </div>
                        <div class="input-group mt-2">
                            <label class="input-group-text" for="foto">Adicionar imagens</label>
                            <input name="imagem" type="file" class="form-control shadow-sm" id="foto" accept=".webp" multiple>
                        </div>
                        <div class="col-12">
                            {{ form.enviar(class="btn submit-btn shadow-sm my-2", type="submit") }}
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

</div>

{% if deleteRegistro is defined %}

    {% if deleteRegistro == '1' %}
    
    <div class="modal fade" id="noReturnModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Sucesso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        A imagem foi excluída com sucesso!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn submit-btn shadow-sm" data-bs-dismiss="modal">Fechar</button>
        </div>
        </div>
    </div>
    </div>
    {% else %}
    <div class="modal fade" id="noReturnModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Falha</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Não foi possível excluir a imagem!
        </div>
        <div class="modal-footer">
            <button type="button" class="btn submit-btn shadow-sm" data-bs-dismiss="modal">Fechar</button>
        </div>
        </div>
    </div>
    </div>
    {% endif %}
{% endif %}

<script>
    $(document).ready(function(){
            if ($('#noReturnModal').length) {
                $('#noReturnModal').modal('show');
            }
        })
</script>

{% endblock %}