{% extends 'base.html' %}
{% block content %}

<div class="row align-items-center my-4">
    <div class="col-12 col-md-6">
      <div class="alert" style="background-color: #F8D7DA; color: #842029; border: 1px solid #8420286a;">
        <i class="bi bi-exclamation-triangle-fill me-2"></i> <strong>Viu uma serpente?</strong>
        Se possível, não mate ela. <a href="{{url_for('registro')}}">Tire uma foto e envie para nós! </a> Você também pode acionar as equipes de resgate pelos números 193 ou 190.
      </div>
    </div>
    <div class="col col-md-6">
        <div class="alert" style="background-color: #F8D7DA; color: #842029; border: 1px solid #8420286a;">
            <i class="bi bi-hospital"></i> <strong>Foi picado por uma cobra?</strong>
            <a href="{{url_for('hospitais')}}">Descubra aqui</a> o que fazer e onde você pode buscar tratamento!
        </div>
    </div>
</div>

<div class="introducao col-12 row flex-row align-items-center my-4 justify-content-center">
  <div class="col-12 col-md-6 text-center ms-4 ms-md-0">
    <img alt="Explicativo 1" class="explicativo mx-auto" src="{{url_for('static', filename='img/explicativo-1.webp')}}"/>
    <img alt="Explicativo 2" class="explicativo mx-auto my-3" src="{{url_for('static', filename='img/explicativo-2.webp')}}"/>
    <img alt="Explicativo 3" class="explicativo mx-auto d-md-none" src="{{url_for('static', filename='img/explicativo-3.webp')}}"/>
  </div>
  <div class="col-12 col-md-6 text-center ms-4 ms-md-0">

    <img alt="ilustração da chapada do araripe" class="ilust mx-auto mb-md-4 my-3" src="{{url_for('static', filename='img/chapada.webp')}}"/>
    <img alt="Explicativo 4" class="explicativo-full mx-auto d-none d-md-block mb-4" src="{{url_for('static', filename='img/explicativo-4.webp')}}"/>

    <small class="px-1">
      As imagens abaixo são de autoria de <strong>Igor J. Roberto</strong>, <strong>Willianilson Pessoa</strong>,<br class="d-none d-md-block"> <strong>Herivelton Oliveira</strong> e <strong>Samuel C. Ribeiro</strong>.
    </small>
  </div>
</div>

<div class="explorar col-12 flex-column align-items-center justify-content-center" id="explorar">
  <h2><i class="bi bi-eye mx-2"></i> Explorar</h2>
  <div class="row mt-3 slider-item justify-content-center">
    {% for tipo in [1, 2, 0] %}
      {% for cobra, imgs in cobras_info.items() if peconhenta[cobra] == tipo %}
        {% set classe = ['cobra-slider', 'peconhenta-slider', 'semi-peconhenta-slider'][tipo] %}
        {% set badge = ['text-bg-success', 'text-bg-danger', 'text-bg-warning'][tipo] %}
        {% set label = ['Não perigosa', 'Perigosa', 'Risco leve'][tipo] %}
        {% set icone = ['bi-shield-check', 'bi-exclamation-triangle', 'bi-exclamation-circle'][tipo] %}
        {% set cor = ['#2d9742', '#E40404', '#FF8F00'][tipo] %}
        {% set link_classe = ['cobra-link', 'peconhenta-link', 'semi-peconhenta-link'][tipo] %}
        {% set tooltip = [
          'Não representam riscos.',
          'Possuem peçonha e podem causar acidentes sérios.',
          'Possuem peçonha fraca. Podem ocasionar acidentes leves, se conseguirem morder com as presas do final da boca.'
        ][tipo] %}

        <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 flex-column align-items-center justify-content-center">
          <a href="{{url_for('cobra', id=ids[cobra])}}">
            <div id="{{cobra|replace(' ', '-')}}" class="carousel slide slider" data-ride="carousel">
              <div class="carousel-inner {{classe}}">
                {% for i in range(imgs|length) %}
                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                  <img class="d-block w-100 shadow" src='{{url_for("static", filename="serpentesFotos/{cobra}/{img}".format(cobra=cobra, img=imgs[i]))}}'>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#{{cobra|replace(' ', '-')}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#{{cobra|replace(' ', '-')}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </a>
          <h5 class="{{ 'red' if tipo == 1 else '' }}">
            <a href="{{url_for('cobra', id=ids[cobra])}}" class="{{link_classe}}"><strong>{{cobra}}</strong></a>
          </h5>
          <span class="badge {{badge}}">
            <i class="bi {{icone}}"></i> {{label}} <i class="bi {{icone}}"></i>
          </span>
          <span type="button" class="dotted-text" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{tooltip}}">
            <i class="bi bi-info-circle mx-1 fs-6" style="position: relative; top: 1px; color: {{cor}};"></i>
          </span>
          <p>
            <a class="collapse-link" data-bs-toggle="collapse" href="#collapse-{{cobra|replace(' ', '-')}}" role="button" aria-expanded="false" aria-controls="collapse-{{cobra|replace(' ', '-')}}">
              Nomes populares <i class="bi bi-chevron-down"></i>
            </a>
          </p>
          <div class="collapse" id="collapse-{{cobra|replace(' ', '-')}}">
            <div><p>{{nomes_pop[cobra] | join(', ')}}</p></div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% if noReturn %}
<div class="modal fade" id="noReturnModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sem resultados!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Sua pesquisa não retornou nenhum resultado! :(
      </div>
      <div class="modal-footer">
        <button type="button" class="btn submit-btn shadow-sm" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<style>
    .text-justify {
        text-align: justify;
        hyphens: auto;
    }
</style>

<script>
  $(document).ready(function(){
    if ($('#noReturnModal').length) {
      $('#noReturnModal').modal('show');
    }
  })
</script>

<script>
  $(document).ready(function(){
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  })
</script>

{% endblock %}
