{% extends 'base.html' %}
{% block content %}

<div class="row align-items-center my-4">
    <div class="col-12 col-md-6">
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-diamond"></i> <strong>Viu uma serpente?</strong>
            Se possível, não mate ela. Assim você ajuda a preservar a fauna e o equilíbrio da nossa região!
        </div>
    </div>
    <div class="col col-md-6">
        <div class="alert alert-danger" role="alert">
            <i class="bi bi-hospital"></i> <strong>Foi picado por uma cobra?</strong>
            <a href="{{url_for('hospitais')}}">Descubra aqui</a> onde você pode buscar tratamento!
        </div>
    </div>
</div>

<div class="introducao col-12 row flex-row align-items-center my-4 justify-content-center">
  <div class="col-10 col-md-6">
    <h3><span class="red"><strong>Conheça as cobras da Chapada do Araripe e ajude a preservá-las!</strong></span></h3>
    <h4>Na região da <strong><span class="red">Chapada do Araripe</span></strong> (abrangendo os estados do Ceará, Pernambuco e Piauí), <strong><span class="red">existem cerca de 41 espécies de cobras registradas.</span></strong> Dessas, <strong><span class="red">apenas 4 são consideradas de interesse médico</span></strong>, pois podem causar acidentes ofídicos relevantes, com envenenamento.</h4>
    <h5>No entanto, devido ao medo e à <span class="red"><strong>falta de informação</strong></span>, muitas dessas serpentes acabam sendo mortas indiscriminadamente. </h5>
    <h5>Aqui, você terá a oportunidade de conhecer melhor as <strong><span class="red">cobras do Cariri</span></strong> e das regiões vizinhas. Aprenda a identificá-las corretamente e descubra detalhes importantes, como seus hábitos, alimentação e locais onde vivem. Todas as informações disponíveis aqui são fruto de<strong><span class="red"> mais de 20 anos de pesquisas</span></strong> realizadas pelo nosso coordenador, o biólogo e Prof. Dr. Samuel Cardozo Ribeiro.</h5>
    <h6>Com essa ferramenta, qualquer pessoa pode acessar <strong><span class="red">dados confiáveis</span></strong> sobre todas as serpentes que ocorrem na Chapada do Araripe e nos municípios ao seu redor — e até um pouco além.</h6>
    <h6><strong><span class="red">Ajude a preservar esses animais incríveis!</span></strong> Não os mate. <strong><span class="red">Tire fotos</span></strong>, aprenda a identificá-los e compartilhe o conhecimento. Juntos, podemos fazer a diferença!</h6>
  </div>
  <div class="col-12 col-md-6 text-center">
    <img alt="ilustração da chapada do araripe" class="ilust" src="{{url_for('static', filename='img/ilustracao-chapada.png')}}"/>
    <p class="px-5">
      As imagens abaixo são de autoria de <strong>Igor J. Roberto</strong>, <strong>Willianilson Pessoa</strong>, <strong>Herivelton Oliveira</strong> e <strong>Samuel C. Ribeiro</strong>.
    </p>
  </div>
</div>

<div class="explorar col-12 flex-column align-items-center justify-content-center" id="explorar">
    <h2><i class="bi bi-eye mx-2"></i> Explorar</h2>
    <div class="row mt-3 slider-item justify-content-center">
        {% for cobra, imgs in cobras_info.items() %}
          <div class="col-12 col-md-6 col-lg-3 px-2 mb-3 flex-column align-items-center justify-content-center">
            <div id="{{cobra|replace(' ', '-')}}" class="carousel slide slider" data-ride="carousel">
              {% if peconhenta[cobra] == 1 %}
                <div class="carousel-inner peconhenta-slider">
              {% else %}
                <div class="carousel-inner shadow br">
              {% endif %}
                <div class="carousel-item active">
                  <img class="d-block w-100 shadow" src='{{url_for("static", filename="serpentesFotos/{cobra}/{img}".format(cobra=cobra, img=imgs[0]))}}'>
                </div>
                {% for i in range(1, imgs|length) %}
                  <div class="carousel-item">
                    <img class="d-block w-100 shadow" src='{{url_for("static", filename="serpentesFotos/{cobra}/{img}".format(cobra=cobra, img=imgs[i]))}}'>
                  </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#{{cobra|replace(' ', '-')}}" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#{{cobra|replace(' ', '-')}}" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
              </button>
            </div>
            {% if peconhenta[cobra] == 1 %}
              <h5 class="red"><a href="{{url_for('cobra', id=ids[cobra])}}" class="peconhenta-link"><strong>{{cobra}}</strong></a></h5>
              <span class="badge text-bg-danger"><i class="bi bi-exclamation-triangle"></i> Peçonhenta <i class="bi bi-exclamation-triangle"></i></span>
            {% else %}
              <h5><a href="{{url_for('cobra', id=ids[cobra])}}" class="cobra-link"><strong>{{cobra}}</strong></a></h5>
            {% endif %}
            <p><a class="collapse-link" data-bs-toggle="collapse" href="#collapse-{{cobra|replace(' ', '-')}}" role="button" aria-expanded="false" aria-controls="collapse-{{cobra|replace(' ', '-')}}">
              Nomes populares <i class="bi bi-chevron-down"></i>
            </a></p>
            <div class="collapse" id="collapse-{{cobra|replace(' ', '-')}}">
              <div>
                <p>
                  {{nomes_pop[cobra] | join(', ')}}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
</div>

{% if noReturn %}
<div class="modal fade" id="noReturnModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sem resultados!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      Sua pesquisa não retornou nenhum resultado! :(
      </div>
      <div class="modal-footer">
        <button type="button" class="btn submit-btn shadow-sm" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
  $(document).ready(function(){
    if ($('#noReturnModal').length) {
      $('#noReturnModal').modal('show');
    } 
  })
</script>
{% endblock %}