{% extends 'base.html' %}
{% block content %}

<div class="col-12 text-center d-flex flex-column justify-content-center align-items-center">

    <h3><i class="bi bi-info-circle mx-2"></i> Sobre nós</h3>

</div>

<div class="introducao col-12 row flex-row align-items-center justify-content-center" id="explorar">
    <div class="col-10 col-md-6">
      <h3><span class="red"><strong>Na região da Chapada do Araripe, existem cerca de 40 cobras.</strong></span></h3>
      <h4>Destas 40 cobras, <span class="red"><strong>apenas 4 são peçonhentas.</strong></span></h4>
      <h5>Porém, devido ao medo e à falta de informação, as pessoas acabam <span class="red"><strong>matando todas elas, sejam peçonhentas ou não.</strong></span></h5>
      <h5>Por causa disso, o <span class="red"><strong>nível de mortalidade de cobras</strong></span> na região do Cariri e da Chapada do Araripe está muito alto.</h5>
      <h6>Aqui, você vai poder conhecer mais sobre as Cobras do Cariri e aprender a identificá-las, podendo contribuir para a conservação e a ciência da nossa região!</h6>
    </div>
    <div class="col-12 col-md-6 text-center">
      <img alt="ilustração da chapada do araripe" class="ilust" src="{{url_for('static', filename='img/ilustracao-chapada.png')}}"/>
    </div>
  </div>

{% endblock %}